@layer base {
  .TodoListItem {
    @apply py-4 flex first:rounded-t-md space-x-2 items-center border-b-[1px] cursor-move
        border-light-lightGrayishBlue text-light-veryDarkGrayishBlue
        bg-light-veryLightGray
        dark:border-b-dark-veryDarkGrayishBlue dark:text-dark-lightGrayishBlue justify-between px-4 dark:bg-dark-veryDarkDesaturatedBlue;
    &_wrapper {
      @apply flex space-x-2 items-center;
    }
    &_uncompleted {
      @apply w-5 h-5 border border-light-darkGrayishBlue dark:border-dark-veryDarkGrayishBlue rounded-full;
    }
    &_content_uncompleted {
      @apply text-base;
      &:hover{
        @apply dark:text-dark-lightGrayishBlueHover 
      }
    }
    &_content_completed {
      @apply text-base text-light-lightGrayishBlue dark:text-dark-veryDarkGrayishBlue line-through;
    }
    &_delete {
      @apply text-3xl hidden  font-thin 
            text-light-darkGrayishBlue 
            dark:text-dark-veryDarkGrayishBlue;
    }
    &_completed {
      @apply w-6 h-6 border border-dark-veryDarkGrayishBlue bg-gradient-to-br flex place-items-center justify-center from-dark-from to-dark-to rounded-full;
    }
  }
  .TodoListItem_uncompleted:hover {
    border-radius: 50%;
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }
}

